 <!-- The content below is only a placeholder and can be replaced. -->

  <!-- <div style="text-align:center"> -->
    <!-- <app-testcomp1> </app-testcomp1>
    <app-testcomp2></app-testcomp2> -->
    <!-- <app-pipedemo></app-pipedemo> -->
    <!-- <app-filterpipe> </app-filterpipe> -->
    <!-- <app-practpipe></app-practpipe> -->
  <!-- </div> -->
  <!-- <h1>
    Welcome to {{ title }}!
  </h1>
   --> 
 <app-serve></app-serve>  
<!-- <app-stringinter></app-stringinter> -->
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
 


 <app-demodirectives></app-demodirectives> 
 <app-atrri></app-atrri>  -->


<!-- <h2>Here are some links to help you start: </h2> -->
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  
</ul> -->

<!-- <app-demodirectives [demoInputMsg]="uname"></app-demodirectives> -->

<!-- <app-parentdecorator></app-parentdecorator> -->

<!-- <router-outlet></router-outlet> -->

<!-- <ul *ngFor="let f of foods">
  <li>
     {{f}}               //string interpolation 
  </li>
</ul>

<app-demo (foodEvent)="getDataFromChild($event)"></app-demo> -->

<!-- <button (click)="show($event)">click</button> -->

<!-- <app-demo *ngIf="demoDestroy" (bikeEvent)="getDataOfBike($event)">
   <h1 #child>Hello baby how are you.....</h1> -->
  <!-- <h1>Hello I am ANGULAR DEV...</h1>
</app-demo>
<button type="danger" class="btn btn-danger" (click)="demoCom()">Destroy component</button>

  -->

<!-- <select change="uid=sid.value" #sid>
  <option selected disabled>No value selected</option>
  <option [value]="" *ngFor="let id of [1,2,3,4] ">

    {{id}} --> 

  <!-- </option > --> 

  


   <!-- <app-directiveassign></app-directiveassign> 

</select>

<div class="row">
  <div class="col-mb-12">

 <input type="text" placeholder="enter value" (blur)="handleData($event)" > 

<p>Product Name:<input type="text" placeholder="enter product name" [(ngModel)]="name"></p>
<p>Product Prise:<input type="text" placeholder="enter prise" [(ngModel)]="prise"></p>

<button class="btn btn primaray" (click)="updateProduct()">enter value</button>
<app-hook *ngIf= "destroyComp" [userId]="uid"  [parentData]="data" [product]="product">
  <h1 #child> this is child content coming form parent content  </h1>
  <h2 #child>Hello....! everyone</h2>
   <button class="btn btn primaray" (click)="updateProduct()">Update product</button> -->
<!-- </app-hook> 

<button type="danger" class="btn btn-danger" (click)="destroy()">Danger Component</button> 




</div>
</div>   -->
 

  <!-- <app-simpletemplateform></app-simpletemplateform>   -->

 <!-- <app-formassign></app-formassign>   -->

 
   <!-- <app-reactiveform></app-reactiveform>  -->

   <!-- <app-template-form> </app-template-form>   -->

   <!-- <app-boatcomplaintform> </app-boatcomplaintform>  -->

  <!-- <app-practice-temp-form> </app-practice-temp-form> -->

   <!-- <app-reactive-practice> </app-reactive-practice>   -->

  <!-- <app-servicecomp1></app-servicecomp1> -->

  <!-- <app-servicecomp2></app-servicecomp2> -->

  <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

  <!-- <app-demopost></app-demopost> -->
<!-- 
<app-pipedemo></app-pipedemo> -->

  <!-- <app-bbfinance> </app-bbfinance> -->

  <!-- <router-outlet> </router-outlet>
  <app-stringinter></app-stringinter> -->
  <!-- <app-reactive-practice></app-reactive-practice> -->
  <!-- <app-reactiveform> </app-reactiveform> -->
<!-- 
  <app-reactiveform> </app-reactiveform> -->

  <!-- <app-getdata></app-getdata> -->

  <!-- <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="login/">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="home/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="product/">Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="post/">Post</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="orders/">Orders</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="adduser/">AddUser</a></li>
      </ul>
    </nav>
  </header>
    <button (click)="DeletePost()">Delete post</button>
    <app-bbfinance></app-bbfinance>
   <router-outlet></router-outlet>  -->

    <!-- <app-eventdemo></app-eventdemo> -->
   <!-- <app-child></app-child>  -->

   <app-parent></app-parent>
   <app-child></app-child> 
   <!-- <app-ipl-child></app-ipl-child> -->

   <!-- <app-directivepracti></app-directivepracti> -->
  
  
    
