<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/Laptop image 1.jpg" >
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
   

        <div class="card">
            <img class="card-img-top" src="../../assets/images/mobile image.avif" >
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
   

    
        <div class="card">
            <img class="card-img-top" src="../../assets/images/tv image.webp" >
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    

    
        <div class="card">
            <img class="card-img-top" src="../../assets/images/washing-machine image.jpg" >
            <div class="card-body">
              <h5 class="card-title">Washing Machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="washingmachine" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
</div>