<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 rounded shadow py-5">
              <div class="text-center">
                 <h2>Forgot Password</h2>
              </div>
              <p style="color: lightslategray;">Please enter your registered email where we will send you the reset password link</p>
              <form>
              <div class="form-group">
                  <input type="email" id="email" class="form-control" email placeholder="Enter email" required>
              </div>
              <button type="submit" class="btn btn-primary w-100" value="reset"> Reset password link</button>
              <small>ohh I remember <a routerLink="../login"> Back to the Login </a></small>
            </form>
        </div>

        
    </div>

</div>
